body, h2, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    background-image: url('pexels-victor-lavaud-302543-3361480 1.png');
}

.nav-bar{
    display: flex;
    align-items: right;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    padding: 1rem;
}


.logo{
    color: white;
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64pt;
    -webkit-text-stroke: 0.2px black;
}    

.nav-links{
    display: flex;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.nav-links a {
    padding: 0px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20pt;
    color: white;
    -webkit-text-stroke: 0.5px black;
    display: inline-flex;
    height: 60px;
    line-height: 60px;
}

.nav-links a:hover{
    display: inline-block;
    background-color: #D9FA0F;
    border-radius: 14px;
    color: black;
    transition: background-color 0.3s ease-out;
}


/* Login container styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height according to header */
}

.login-box {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}


.login-box h2 {
    margin-bottom: 20px;
    color: #030a1a; /* Change color to match the theme */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #D9FA0F; /* Change to match the theme */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #aaba40; /* Darker blue on hover */
}
