body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('TAL-dubai-DUBAITG1123-17390625954c4be3902a440d8fffde67 1.png'); 
    background-size: cover;
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image in place when scrolling */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}


.nav-bar{
    display: flex;
    align-items: right;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    padding: 1rem;
}


.logo{
    color: white;
    font-family: "Just Another Hand", cursive; font-weight: 400;
    font-style: normal;
    font-size: 64pt;
    -webkit-text-stroke: 0.2px black;
}    

.nav-links{
    display: flex;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.nav-links a {
    padding: 0px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20pt;
    color: white;
    -webkit-text-stroke: 0.5px black;
    display: inline-flex;
    height: 60px;
    line-height: 60px;
}

.nav-links a:hover{
    display: inline-block;
    background-color: #D9FA0F;
    border-radius: 14px;
    color: black;
    transition: background-color 0.3s ease-out;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Takes full viewport minus navbar height */
    text-align: center;
    z-index: 0;
}

.about-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    max-width: 700px;
    border-radius: 10px;
}

.about-box h1 {
    font-size: 36px;
    color: #333;
}

.about-box p {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

.explore-button {
    background-color: #9eca06;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #7ea105;
}
